<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Menu cliente</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	
<style>
 header{
            background-color:black;
        }
        p{
            color:white;
        }

</style>
</head>
<body>
	<!-- Encabezado -->
	<header > <div class="row">
            <div>
                <img src="https://i.pinimg.com/originals/a3/a8/8c/a3a88cc9e02424681ea020a3182dfbaa.png" style="width:80px;height: 80px;margin-left: 20px;">
            </div>
            <div class="col-sm">
               <h4 style="margin-top: 9px;color:white;">Tu servicio de<br> Prestamos Favorito!!!</h4>
            </div>
            <div>
                <a class="btn btn-danger" href="/login" style="margin-right:25px;margin-top:24px;">
			     Cerrar Sesion
		      </a>
            </div>
        </div></header>
	<!-- Encabezado -->

	<!-- Page Content -->
	<hr>
	<div class="container">

		<div class="card  ">
			<h4 class="card-header text-center text-white bg-secondary">
				<strong>Clientes</strong>
			</h4>
			<br>
			<div class="row" align="center">
				<div class="col-md-6">
					<div class="form-group">
						<a th:href="@{/cliente/crear}" role="button"> <img id="agregaCliente"
							alt="agregaCliente" th:src="@{/images/agregarCliente.png}"
							width="200" height="200">
						</a>
						<h4>Nuevo Cliente</h4>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<a th:href="@{/cliente/list}" role="button"> <img
							id="allClientes" alt="allClientes"
							th:src="@{/images/buscarAllClientes.png}" width="200" height="200">
						</a>
						<h4>Ver todos los Clientes</h4>
					</div>
				</div>
			</div>

			<div class="row" align="center">
				<div class="col-md-12">
					<div class="form-group">
						<a th:href="@{/cliente/buscar}" role="button"> <img
							alt="buscaCliente" th:src="@{/images/buscarCliente.png}" width="200"
							height="200"><br>
						</a>
						<h4>Buscar un Cliente</h4>
					</div>
				</div>
			</div>
		</div>
		
		<center>
                	<a class="btn btn-danger" id="return">Regresar</a>
                </center>
	</div>
	<hr>
	<!-- Page Content -->


	<!-- Footer -->
	<footer th:insert="fragments/footer :: pie-pagina" class="footer"></footer>
	<!-- Footer -->
</body>
</html>
<script>
	$("#return").click(function(){
		var cargo = sessionStorage.getItem("cargo");
		if(cargo=="administrador"){
			$(location).attr("href","/PaneldeControl");
		}else{
			$(location).attr("href","/PanelControlEmpleado");
		}
	});
</script>