<!DOCTYPE html5>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Administracion:Empleados</title>
	<!--Con esta etiqueta ponemos un icono en el title-->
	<link rel="shortcut icon" href="https://i.pinimg.com/originals/a4/6d/2a/a46d2aa134e26b7dbdb149f013cd0547.png">
	<!---->
	<!--Importamos bootstrap-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<!---Importamos Jquery-->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	
	<!--Definicion de estilos-->
	<style>
		body{
			background: linear-gradient(45deg, #49a09d, #5f2c82);
            overflow-x: hidden;
        }
        header{
            background-color:black;
        }
        p{
            color:white;
        }
		li{
			display:inline-block;
		}
		/***Estilos para la tabla**/
		
		table {
			width: 800px;
			border-collapse: collapse;
			overflow-x: hidden;
			overflow-y: auto;
		}
		
		th,
		td {
			padding:6px;
			background-color: rgba(255,255,255,0.2);
			color: #fff;
		}
		
		th {
			text-align: left;
		}
		
		thead {
			th {
				background-color: #55608f;
			}
		}
		/**Estilos para el popup**/
		@charset "utf-8";
		.overlay {
		    position: fixed;
		    top: 0;
		    bottom: 0;
		    left: 0;
		    right: 0;
		    background: rgba(0, 0, 0, 0.7);
		    transition: opacity 500ms;
		    visibility: hidden;
		    opacity: 0;
		}
		.overlay:target {
		    visibility: visible;
		    opacity: 1;
		}
		#popupBody{
		    width: 46%;
		    padding: 2%;
		    border-radius: 15px;
		    box-shadow: 0 0 5px #CCC;
		    background: #FFF;
		    position: relative;
		    transition: all 5s ease-in-out;
		    margin: 20% auto;    
		}
		#cerrar{
		    position: absolute;
		    top: 20px;
		    right: 30px;
		    transition: all 200ms;
		    font-size: 30px;
		    font-weight: bold;
		    text-decoration: none;
		    color: #F00;
		}


	</style>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script>
	var empleados;
		$(document).ready(function(){
			//en esta variable guardo los empleados que devuelve la peticion
			
			 $.ajaxSetup({contentType:"application/json; charset=utf-8"});
			 $.get("http://localhost:8080/empleados",function(data, status){
				 var estado=status;
				 if(estado=="success"){
					$("#table").append($("<table><thead><tr><th>ID EMPLEADO</th><th>NOMBRE</th><th>APELLIDO PATERNO</th><th>APELLIDO MATERNO</th><th>SALARIO</th><th>CARGO</th><th>Acción</th><th>Acción</th></tr></thead><tbody id='tbody'>"));
				 	var size=data.length;
				 	console.log(size);
				 	var i;
				 	empleados=data;
				 	for(i=0;i<size;i++){
				 		var id=data[i].idEmpleado;
				 		var nombre=data[i].nombre;
				 		var ap=data[i].apellidoPaterno;
				 		var am=data[i].apellidoMaterno;
				 		var salario=data[i].salario;
				 		var cargo=data[i].cargo;
				 		$("#tbody").append($("<tr>"));
				 		$("#tbody").append($("<td>"+id+"</td>"));
				 		$("#tbody").append($("<td>"+nombre+"</td>"));
				 		$("#tbody").append($("<td>"+ap+"</td>"));
				 		$("#tbody").append($("<td>"+am+"</td>"));
				 		$("#tbody").append($("<td>"+salario+"</td>"));
				 		$("#tbody").append($("<td>"+cargo+"</td>"));
				 		$("#tbody").append($("<td><button class='btn btn-warning' onclick='update(this)' type='button' id='"+id+"'>"+"Actualizar"+"</button></td>"));
				 		$("#tbody").append($("<td><button class='btn btn-danger' id='"+id+"' onclick='eliminar(this)'>"+"Eliminar"+"</button></td>"));
						$("tbody").append($("</tr>"));
				 	}
				 	$("#table").append($("</tbody></table>"));
				 }else{
					 alert("No hay empleados registrados que mostrar.");
				 }
			 });
			 
			 $("#send").click(function(){
				 var nombre=$("#NOMBRE").val();
				 var apellidoPaterno=$("#APELLIDOP").val();
				 var apellidoMaterno=$("#APELLIDOM").val();
				 var cargo=$("#cargo").val();
				 var password=$("#PASSWORD").val();
				 var salario=$("#SALARIO").val();
				 
				 if(nombre=="" || apellidoPaterno=="" || apellidoMaterno=="" || cargo=="" || password=="" || salario==""){
					alert("Debes de llenar todos los campos");					 
				 }else{
					var empleado={apellidoMaterno:apellidoMaterno,apellidoPaterno:apellidoPaterno,cargo:cargo,nombre:nombre,password:password,salario:salario};
					var empleadoJSON=JSON.stringify(empleado);
						
					console.log("empleado="+ empleadoJSON);
						
					$.post("http://localhost:8080/empleados",empleadoJSON,function(data, status){
						console.log(status);
						var estado=status;
						if(estado=="success"){
							alert("Empleado actualizado exitosamente!!");
							
						}else{
							alert("No se pudo registrar el alumno");
						}
						console.log("vamos a eliminar el empleado con id: "+id);
						$.ajax({
						    url: 'http://localhost:8080/empleados/'+id,
						    type: 'DELETE',
						    contentType: 'application/json',
						    success: function(result) {
						    	$(location).attr("href","/VerEmpleados");
						    	}
						 });
					});
				 }
				 
			 });
			
		});
		var id;
		function update(element){
			id=element.id;
			var i;
			var size=empleados.length;
			for(i=0;i<size;i++){
				var identificador=empleados[i].idEmpleado;
		 		if(identificador==id){
		 			var nombre=empleados[i].nombre;
			 		var ap=empleados[i].apellidoPaterno;
			 		var am=empleados[i].apellidoMaterno;
			 		var salario=empleados[i].salario;
			 		var cargo=empleados[i].cargo;
			 		document.getElementById("NOMBRE").value=nombre;
			 		document.getElementById("APELLIDOP").value=ap;
			 		document.getElementById("APELLIDOM").value=am;
			 		document.getElementById("SALARIO").value=salario;
		 		}
			}
			
		}
		function eliminar(element){
			$(location).attr("href","#popup");
			var deleteID=element.id;
			$("#aceptar").click(function(){
				$.ajax({
				    url: 'http://localhost:8080/empleados/'+deleteID,
				    type: 'DELETE',
				    contentType: 'application/json',
				    success: function(result) {
				    	$(location).attr("href","/VerEmpleados");
				    	}
				 });
			});
			$("#cancelar").click(function(){
				$(location).attr("href","#");
			});
		}
  		
	</script>
</head>
<body>
	<header>
        <div class="row">
            <div>
                <img src="https://i.pinimg.com/originals/a3/a8/8c/a3a88cc9e02424681ea020a3182dfbaa.png" style="width:80px;height: 80px;margin-left: 20px;">
            </div>
            <div class="col-sm">
               <h4 style="margin-top: 9px;color:white;">Tu servicio de<br> Prestamos Favorito!!!</h4>
            </div>
            <div>
                <a class="btn btn-danger" href="/login" style="margin-right:25px;margin-top:24px;">
			     Cerrar Sesion
		      </a>
            </div>
        </div>
    </header>
    <a class="btn btn-primary" href="/administracion" style="margin-top:3px;margin-left:8px;">Regresar</a>
	<div  style="margin-top:10px;display:flex;">
		
		<div id="table" style="margin-left:6px;">
		
		
		</div>
		<div class="container" style="margin-left:5px;">
			<div class="row">
				<div class="card">
					<div class="card-header">
						<h3>Actualizar datos de Empleados</h3>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-sm">
								<input class="form-control" id="NOMBRE" placeholder="NOMBRE">
							</div>	
						</div><br>
						<div class="row">
							<div class="col-sm">
								<input class="form-control" id="APELLIDOP" placeholder="APELLIDO PATERNO">
							</div>
						</div><br>
						<div class="row">
							<div class="col-sm">
								<input class="form-control" id="APELLIDOM" placeholder="APELLIDO MATERNO">
							</div>
						</div><br>
						<div class="row">
							<div class="col-sm">
								<select name="cargo" class="form-control" id="cargo">
                                        <option>CARGO</option>
                                        <option value="administrador">ADMINISTRADOR</option>
                                        <option value="empleado">EMPLEADO</option>
                                 </select>
							</div>
						</div><br>
						<div class="row">
							<div class="col-sm">
								<input class="form-control" id="SALARIO" placeholder="SALARIO">
							</div>
						</div><br>
						<div class="row">
							<div class="col-sm">
								<input class="form-control" id="PASSWORD" placeholder="CONTRASEÑA" type="password">
							</div>
						</div><br>
						<div class="row">
							<div class="col-sm">
								<button class="btn btn-success" id="send">Actualizar</button>
							</div>
						</div><br>
					</div>
					<div class="card-footer">
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="popup" class="overlay">
	    <div id="popupBody">
	    	<h3>¿Esta seguro de que desea eliminar este empleado?</h3>
	    	<a id="cerrar" href="#">&times;</a>
	    	<div class="popupContent">
			    <button class="btn btn-success" id="aceptar">Aceptar</button>
			    <button class="btn btn-danger" id="cancelar">Cancelar</button>
	    	</div>
	    </div>
    </div>
    
    <!-- Footer -->
	<footer th:insert="fragments/footer :: pie-pagina" class="footer"></footer>
	<!-- Footer -->
</body>
</html>