<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Buscar pago</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<style>
 header{
            background-color:black;
        }
        p{
            color:white;
        }

</style>
</head>
<body>
	<!-- Encabezado -->
	<header > <div class="row">
            <div>
                <img src="https://i.pinimg.com/originals/a3/a8/8c/a3a88cc9e02424681ea020a3182dfbaa.png" style="width:80px;height: 80px;margin-left: 20px;">
            </div>
            <div class="col-sm">
               <h4 style="margin-top: 9px;color:white;">Tu servicio de<br> Prestamos Favorito!!!</h4>
            </div>
            <div>
                <a class="btn btn-danger" href="/login" style="margin-right:25px;margin-top:24px;">
			     Cerrar Sesion
		      </a>
            </div>
        </div></header>
	<!-- Encabezado -->

	<!-- Page Content -->
	<hr>
	<div class="container">
		<div class="card">
			<h4 class="card-header text-center text-white bg-secondary">
				<strong>Buscar Pago:</strong>
			</h4>
			<div class="card-body">
			<hr>
				<div class="col-md-6">
					<input type="text" class="form-control" id="idPago"
						name="idPago" placeholder="Escriba el ID del pago"
						required="required"> <br> <a class="btn btn-primary"
						role="button" title="Buscar" id="get">Buscar</a>
						<a class="btn btn-secondary" th:href="@{/pago}"
						role="button" title="Regresar">Regresar</a>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="container" id="detallePago" style="display: none">
		<div class="card">
			<h4 class="card-header text-center text-white bg-secondary">
				<strong>Detalles del Pago:</strong>
			</h4>
			<div class="card-body">
				<hr>
				<h5 class="card-title">
					<strong>ID Pago: </strong> <span id="id"></span>
				</h5>
				<h6 class="card-title">
					<strong>ID Prestamo: </strong> <span id="idPrestamo"></span>
				</h6>
				<h6 class="card-title">
					<strong>ID Empleado: </strong><span id="idEmpleado"></span>
				</h6>
				<h6 class="card-title">
					<strong>Fecha Creacion: </strong> <span id="fecha"></span>
				</h6>
				<h6 class="card-title">
					<strong>Cantidad Pago: </strong><span id="cantidad"></span>
				</h6>
				<h6 class="card-title">
					<strong>Penalizacion: </strong> <span id="penalizacion"></span>
				</h6>
			</div>
		</div>
	</div>
	<!-- Page Content -->

	<!-- Footer -->
	<footer th:insert="fragments/footer :: pie-pagina" class="footer"></footer>
	<!-- Footer -->

	<script>
	/*Obtenemos datos del  cliente mediante su ID*/
		$(document).ready(function() {
			$("#get").click(function() {
				var url = "http://localhost:8080/pagos/" + $("#idPago").val();
				console.log(url);
				$.get(url, function(data, status) {
					console.log("Status = " + status);
					console.log("Data = " + data);
			 		if(status == "success"){ //si fue exitoso el resultado, mostramos los detalles con una animacion
						$("#detallePago").first().show("slow");
					}
			 		/*mapeamos los dato obtenidos a la vista*/
					$("#id").text(data.idPago);
					$("#idPrestamo").text(data.idPrestamo);
					$("#idEmpleado").text(data.idEmpleado);
					$("#fecha").text(data.dia + '/' + data.mes + '/' + data.ano);
					$("#cantidad").text(data.cantidad);
					$("#penalizacion").text(data.penalizacion);
				}).fail(function(){ //si algo falla al recuperar los datos, mostramos una alerta
					alert("No se encontro el pago a buscar");	
				});
			});
		});
	</script>
</body>
</html>