<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Menu pagos</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
<style>
</style>
</head>
<body>

	<!-- Encabezado -->
	<header th:insert="fragments/menu :: menu-principal"></header>
	<!-- Encabezado -->

	<!-- Page Content -->
	<hr>
	<div class="container">

		<div class="card  ">
			<h4 class="card-header text-center text-white bg-secondary">
				<strong>Pagos</strong>
			</h4>
			<br>
			<div class="row" align="center">
				<div class="col-md-6">
					<div class="form-group">
						<a th:href="@{/pago/crear}" role="button"> <img id="agregaPago"
							alt="agregaPago" th:src="@{/images/agregaPrestamo.png}"
							width="200" height="200">
						</a>
						<h4>Agregar Pago</h4>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<a th:href="@{/pago/listPagos}" role="button"> <img id="allPagos"
							alt="allPagos" th:src="@{/images/allPrestamos.png}"
							width="200" height="200">
						</a>
						<h4>Ver todos los Pagos</h4>
					</div>
				</div>
			</div>
			<div class="row" align="center">
				<div class="col-md-12">
					<div class="form-group">
						<a th:href="@{/pago/buscar}" role="button"> <img alt="buscaPago"
							th:src="@{/images/prestamo.png}" width="200"
							height="200"><br>
						</a>
						<h4>Buscar un pago</h4>
					</div>
				</div>
			</div>
		</div>
		<hr>
	<!-- Page Content -->


	<!-- Footer -->
	<footer th:insert="fragments/footer :: pie-pagina" class="footer"></footer>
	<!-- Footer -->
</body>
</html>